
body {
    background-color: honeydew;
}

nav{
    color: fuchsia;
    height: 3rem;
}

h1 {
    font-size: 38px;
    text-align: center;
    color:darkslategrey;
}

div {
    background-color: azure;
    display: flex;
    flex-wrap: wrap;
}

.Manager {
    width: 300px;
    border: 5px solid black;
    padding: 50px;
    margin: 20px;
    display: flex;
    justify-content: wrap;
    height: 260px;
    width: 180px;

}

.Employee {
    width: 300px;
    border: 5px solid black;
    padding: 50px;
    margin: 20px;
    display: flex;
    justify-content:inherit;
    height: 260px;
    width: 180px;
}

.Intern {
    width: 300px;
    border: 5px solid black;
    padding: 50px;
    margin: 20px;
    display: flex;
    justify-content: wrap;
    height: 260px;
    width: 180px;
}

p {
    font-size: 20px;
   
}